


<!-- views/signin.handlebars -->
<div class="container vertical-center vcard">
  <div class="container text-center">
    <div class="span2 avatar">
      <a href="AxelClaverCV2016{{{__ 'CVlang'}}}.pdf" class="link">
        <img src="images/avatar.png"/>
      </a>
    </div>
    <div class="links">
      <a href="https://linkedin.com/in/axflash{{{__ 'LinkedINRoute'}}}" class="link">
        <img src="images/linkedin-icon.png" alt="">
      </a> 
      <a href="AxelClaverCV2016{{{__ 'CVlang'}}}.pdf" class="link">
        <img src="images/cv-icon.png" alt="">
      </a> 
      <a href="https://github.com/axelseis" class="link">
        <img src="images/GitHub-icon.png" alt="">
      </a> 
    </div>

    <h3>{{{__ "Please"}}}</h3>
    <h4>{{{__ "Play My Games"}}}</h4>

    <div class="span2">

      <a href="/auth/google" class="btn btn-google btn-block" role="button">
        <span class="glyphicon glyphicon-user"></span> {{{__ "LogIn with"}}} Google
      </a>
      
      <a href="/auth/facebook" class="btn btn-facebook btn-block" role="button">
        <span class="glyphicon glyphicon-user"></span> {{{__ "LogIn with"}}} Facebook
      </a>

      {{#if iOS}}
        <input type="file" capture="camera" accept="image/*" id="cameraInput" name="cameraInput" />
        <div id="iosBut" class="btn btn-warning btn-block" role="button">
          <label for="cameraInput"><span class="glyphicon glyphicon-user"></span>{{{__ "LogIn with"}}} {{{__ "Camera"}}}</label>
        </div>
        <div id="imageError">{{{__ "Please select an image with a face"}}} ¡¡¡</div>
        <canvas id="canvasRef"></canvas>
      {{else}}
        <div id="cameraBut" class="btn btn-warning btn-block" role="button">
          <span class="glyphicon glyphicon-user"></span> {{{__ "LogIn with"}}} {{{__ "Camera"}}}
        </div>
      {{/if}}
      <div id="videoCam" class="collapse container btn-warning" >
        <video class="camera" src=""></video>
      </div>      
      
    </div>

  </div>
</div>

<canvas id="canvas"></canvas>
<div id="marco"></div>

